@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 0, 0, 0.911);
}

/* -----Global Classes----- */

a {
  text-decoration: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
/* --X---Global Classes--X--- */

/*----------navbar-------*/

.nav {
  background-color: white;
  padding: 0 2rem;
  min-height: 10vh;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link {
  font-size: 1.1rem;
  position: relative;
  padding: 1.6rem 1rem;
  font-family: "Roboto", sans-serif;
}
.nav .nav-items .nav-link:hover {
  background-color: rgb(81, 81, 141);
}
.nav .nav-items .nav-link:hover a {
  color: white;
}
.nav .social {
  padding: 1.4rem 0;
}
.nav .social i {
  padding: 0 0.2rem;
  font-size: 30px;
}
.nav .social i:hover {
  background-color: orangered;
}

/*----X------navbar---X----*/

/* ---viewport less than or equal to 750px--- */

@media only screen and (max-width: 750px) {
  .nav .nav-menu {
    flex-direction: column;
  }

  .nav .nav-brand a {
    text-align: center;
  }
}
/* ---viewport less than or equal to 750px--- */
